<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Detalles</title>
</head>
<body>
    <main>
        <header class="bg-dark row p-4 align-items-center" >
            <div class="d-flex col-8">
                <h1>PokeApi <img class="pokeball" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png" alt=""></h1>
            </div>
            
        
        </header>

        <div class="row">

                <div class="col-4" id="details">
                    <!--Aqui apareceran los detalles-->
                </div>
                
                
            
            <div class="row col-8">

            </div>

        </div>


    </main>

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/details.js"></script>
</body>
</html>